/nbproject/genfiles.properties
/nbproject/build-impl.xml
/build/
/dist/
/gmail-adgangskode.txt
/nbproject/private/
/sikkerhedskopi/
/2016/
/2017/
/2018/
/2019/
/Deltagerliste.html
/Deltagerliste_files/
/brugere.ser
/server/build/