/nbproject/genfiles.properties
/nbproject/build-impl.xml
/build/
/brugere.ser
/deltagere.html
/Deltagerliste.html
/gmail-adgangskode.txt
/dist/
/nbproject/private/
/sikkerhedskopi/
/deltagere-nyfmt.html
/brugere.ser.2016org
/2016/
/2017/
/2018/
/Deltagerliste_files/